body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: #0F0416;
}

.container {
  width: calc(100% - 10vw);
  padding-inline: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../img/Background.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

a {
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.integrantes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
  max-width: 600px;
  padding: 5px 20px;
  border-radius: 50px;
  border: 1px solid #fff;
  margin-block: 20px 40px;
  font-weight: 500;
}

.card-integrante {
  padding: 7px 10px;
  flex-grow: 1;
  text-align: center;
  border-radius: 10px;
}

.integrantes span {
  border-radius: 50%;
  opacity: .5;
}


img.logo {
  width: 150px;
  object-fit: contain;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: calc(2rem + 1vw);
  color: #B55AFF;
  text-transform: uppercase;
  margin-block: 0 20px;
}

h2 {
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  width: 800px;
  max-width: 70%;
  margin-block: 0 30px;
}


.container > span {
  display: flex;
  max-width: 80%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

a {
  padding: 15px 40px;
  border-radius: 50px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: .15s ease;
}

a:first-child {
  background: #fff;
  color: #000;
}

a:last-child {
  border: 2px solid #fff;
}

a:hover {
  transform: scale(.95);
  opacity: .9;
}

a ion-icon {
  font-size: 28px;
  --ionicon-stroke-width: 32px;
}


img.app {
  width: 80vw;
  object-fit: contain;
  margin-top: 50px;
}

footer {
  width: calc(100% - 40px);
  text-align: center;
  padding: 10px 20px;
  font-weight: 600;
  margin-top: 80px;
  border-top: 1px solid #fff;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0F0416;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff49;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff76;
}